<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC05EbAxAJ4nmNmGnQDdEDSA5VDERQO5sc</string>
	<key>GCM_SENDER_ID</key>
	<string>723282045701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io..Locale</string>
	<key>PROJECT_ID</key>
	<string>locale-cce41</string>
	<key>STORAGE_BUCKET</key>
	<string>locale-cce41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723282045701:ios:3f096ed0b39f17bc2c256c</string>
</dict>
</plist>